#navbar {
  z-index: 2;
  position: sticky;
  height: 1.5em;
  top: 10px;

  width: 98%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;

  background-color: var(--light-green);
  /* box-shadow: 0px 4px 10px 4px var(--light-green); */
}

#top-border {
  position: fixed;
  width: 100%;
  height: 10px;
  background-color: white;
  z-index: 3;

  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

#spacer {
  position: relative;
  top: 0%;
  width: 100%;
  height: 3em;
}

#navbar ul li {
  display: none;
}

#sidebar {
  z-index: 5;
  top: 0;
  position: fixed;
  width: 50%;
  height: 100%;
  background-color: var(--green);
  right: -50%;
  transition: all 0.25s ease-in-out;
}

#sidebar.active {
  right: 0%;
  /* box-shadow: -150px 0 rgba(0, 0, 0, 0.5); */
}

#sidebar ul li {
  list-style: none;
}

#sidebar ul li a {
  font-family: 'Josefin Sans';
  display: inline-block;
  color: white;
  font-size: 1em;
  padding: 1em 1em;
  text-decoration: none;
}

#toggle {
  position: inherit;
  right: 1em;
  top: 0.875em;
  cursor: pointer;
  transition: inherit;
  margin: 2%;
  /* top: 30px; */
  /* left: 330px; */
}

#toggle.active {
  right: 51%;
}

#toggle span {
  width: 2em;
  height: 0.25em;
  /* background: rgb(0, 59, 163);; */
  background-color: var(--green);
  display: block;
  transition: inherit;
}

#toggle span.active {
  width: 1.3107em;
}

#toggle span.active:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: bottom left;
}

#toggle span.active:nth-of-type(2) {
  transform: scaleX(0);
  transform-origin: center;
}

#toggle span.active:nth-of-type(3) {
  transform: rotate(-45deg);
  transform-origin: top left;
}

#shadow {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.25);
  transition: all 0.25s ease-in-out;
}

#shadow.active {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  #sidebar {
    display: none;
  }

  #shadow {
    display: none;
  }

  #navbar {
    display: flex;
    flex-direction: row-reverse;
  }

  #navbar ul {
    position: inherit;
    display: flex;
    gap: 1em;
    margin-right: 3em;
  }

  #navbar ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 5px 10px 5px;
    transition: all .1s ease-in-out;
    border: 1px solid transparent;
  }

  #navbar ul li:hover {
    transform: translate(-2px, -2px) scale(1.1);
    transform-origin: center;
    box-shadow: 2px 2px 0px var(--green);
    border: 1px solid var(--green);
  }

  #navbar ul li a {
    font-family: 'Josefin Sans';
    display: inline-block;
    color: var(--green);
    text-decoration: none;
  }
}
